.album p {
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-size: 17px;
}
.album button.hn {
  color: rgba(255, 255, 255, 0.48);
      /* font-size: 20px; */
      /* padding: 1em 0; */
      /* height: 3em; */
      line-height: -2em;
      padding: 14px 0;
      background: #291037;
      width: 90% !important;
      /* margin: 0; */
      /* margin-top: -1em; */
      border-radius: 7px;
}
ion-content.album {
    background: linear-gradient(#441F55, #1B0720);
    background-size: 100% 146%;
}
.img-item {
    width: 100%;
    margin: 0;
    margin: 0;
    /* display: table-footer-group; */
    position: relative;
}

.img-item img {
    width: 100%;
    object-fit: contain;
}

.img-item .delete {
    position: absolute;
    bottom: 2em;
    color: #fff;
    background: rgba(97, 43, 113, 0.53);
    padding: .5em 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 13pt;
}

.img-item .delete i {
    color: #8E234D;
}
.album .album {
  /*margin: 0 25px;*/
}

button.submit-primary.hnc {
    margin-bottom: 2em;
}

.album.album-footer {
    padding: 0 1em;
}
h3.new-acct.n {
    top: 5px;
    position: relative;
}

.margin-couple {
  padding: 0 25px;
  margin-top: 15px;
}
.icon2 {
  top: 2px!important;
}
