.forgot {
  position: relative;
  top: 55px;
}


.forgot h1 {
  font-size: 1.5em;
  text-align: center;
}

.forgot p {
  text-align: center;
  font-size: 0.9em;
}

.forgot .danger {
  background: #fa2223;
}

.forgot .remove {
  color: #f9b1b5;
}

.forgot .btn-size {
  width: 45%;
}
