button.submit-primary.lt {
    display: inline-flex;
    width: 49%;
    text-align: center;
}
.control .user-email {
    position: relative;
}
.alt, .art {
    display: inline-block;
    width: 49%;
}
h4.forgot-title {
  font-size: 20px;
}
.art button {
    background: #FA2223;
    width: 92% !important;
    float: right;
    color: #F0B0BC;
}

.alt button {
    background: #451D5A;
    width: 92% !important;
    float: left;
    color: #AA80C0;
}

.control, .control h4 {
    color: #fff;
}

.control p {
    font-size: 15px;
}

.login.internal--forgot h4 {
    position: relative;
    font-size: 14pt;
}
.forgot input {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
    padding-left: 2.5em;
    font-weight: bold;
}

.forgot:before {
    top: 2px;
    left: 9px;
}
