.get-hot-code h2 {
    margin: -2.3em 0 -2.3em 0;
    padding: -3em 2px;
    overflow: hidden;
    height: 2.7em;
}

.get-hot-code img.logo-internal {
    margin: 4px 5px;
}

span.hot {
    color: #EAA70C;
    font-weight: bold;
}

.get-hot-code .control a {
    color: #BF5D98;
    font-weight: bold;
    margin: 0 0;
}

span.hot-couple, span.gold-couple {
    color: #D34E3D;
    text-transform: uppercase;
    font-weight: bold;
}

span.gold-couple {
    color: #F5F726;
}
.get-hot-code {
    padding: 4px;
}