.getcode strong {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight:  900;
}

.getcode p {
  font-size: 1.2em;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.getcode-bottom button {
  width: 130%!important;
  margin-left: -15%;
}

.url {
  text-transform: lowercase!important;
}
