.form-field.with-caption.user-pass {
    position: relative;
}

.login.pane--form-hotcode h2 {
    color: #FFD50A;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1em;
    font-size: 20pt;
}

.login.pane--form-hotcode {
    /* padding:  0; */
}

.login.pane--form-hotcode {
    margin: -2em 0;
}

.login.pane--form-hotcode .hn {
    /* background: red; */
    border-radius: 1px;
}

.login.pane--form-hotcode img {
    margin: 0;
    padding: 0;
    /* width: 27em; */
    height: 7em;
    margin: 4em 0 4em 0;
    /* margin: 0 auto; */
}

strong.hot {
    color: #EFA442;
}

.login.pane--form-hotcode input {
    width: 8em;
    padding-left: 1.7em;
    line-height: 3.5em;
    margin: 0 auto;
    overflow: hidden;
}
.place-info h5 {
    color: #F5B000;
    text-transform: uppercase;
    font-weight: bold;
}

.login.pane--form-hotcode .user-pass {
    position: relative;
    width: 9em;
    margin: 0 auto;
    overflow: hidden;
}
img.logo-internal {
    width: 98%;
    padding: 1em 1.4em;
    top: 5px;
    position: relative;
}

.login.pane--form-hotcode .control {
    top: 4em;
    position: relative;
}

.place-info {
    top: 1em;
    position: relative;
    font-size: 8pt;
    font-weight: bold;
}

.place-info h4 {
    text-transform: uppercase;
    font-size: 1.5em;
}
.user-pass input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.login.pane--form-hotcode .user-pass:before {
    top: 14px;
}

.login.pane--form-hotcode input {
    /* background: red; */
    line-height: 4em;
    /* padding: 0; */
    height: 3.3em;
}