.radio-field label, .checkbox-field label {
    padding-left: 25px;
}

input[type="checkbox"] {
    margin: 4px 0 0;
    position: relative;
}

.radio-field input[type="radio"], .radio-field-inline input[type="radio"], .checkbox-field input[type="checkbox"], .checkbox-field-inline input[type="checkbox"] {
    -webkit-appearance: none;
    margin-left: -15px;
}

.radio-field input[type="radio"]:after, .radio-field-inline input[type="radio"]:after, .checkbox-field input[type="checkbox"]:after, .checkbox-field-inline input[type="checkbox"]:after {
  border-color: rgba(253, 215, 9, 0.64) !important;
  border-radius: 7px;
}

.radio-field input[type="radio"]:disabled:after, .radio-field-inline input[type="radio"]:disabled:after, .checkbox-field input[type="checkbox"]:disabled:after, .checkbox-field-inline input[type="checkbox"]:disabled:after {
    border-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px!important;
}

.radio-field input[type="radio"]:focus, .radio-field-inline input[type="radio"]:focus, .checkbox-field input[type="checkbox"]:focus, .checkbox-field-inline input[type="checkbox"]:focus {
    outline: none;
}

/* checkbox */

input[type="radio"] {
    margin: 3px 0 0;
}

.checkbox-field input[type="checkbox"]:after, .checkbox-field-inline input[type="checkbox"]:after {
    border: 1px solid;
    border-radius: 2px;
    content: '';
    display: block;
    height: 2em;
    transition: 240ms;
    width: 2em;
}

.checkbox-field input[type="checkbox"]:checked:before, .checkbox-field-inline input[type="checkbox"]:checked:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 10px;
    top: 7px;
    display: table;
    width: 8px;
    height: 12px;
    border: 4px solid #FDD709;
    border-top: 0;
    border-left: 0;
    content: '';
}

.checkbox-field input[type="checkbox"]:checked:after, .checkbox-field-inline input[type="checkbox"]:checked:after {
    background-color: rgba(12, 132, 228, 0);
    border-color: #FDD709;
}

.checkbox-field input[type="checkbox"]:disabled:checked:after, .checkbox-field-inline input[type="checkbox"]:disabled:checked:after {
    background-color: rgba(0, 0, 0, 0.26);
    border-color: transparent;
}

/* radio */

.radio-field input[type="radio"]:before, .radio-field-inline input[type="radio"]:before, .radio-field input[type="radio"]:after, .radio-field-inline input[type="radio"]:after {
    content: '';
    border-radius: 50%;
    display: block;
    height: 2em;
    width: 2em;
    transition: 240ms;
}

.radio-field input[type="radio"]:after, .radio-field-inline input[type="radio"]:after {
    border: 2px solid;
}

.radio-field input[type="radio"]:checked:after, .radio-field-inline input[type="radio"]:checked:after {
    border-color: #FDD709 !important;
}

.radio-field input[type="radio"]:before, .radio-field-inline input[type="radio"]:before {
    background-color: #FDD709;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
}

.radio-field input[type="radio"]:checked:before, .radio-field-inline input[type="radio"]:checked:before {
    transform: scale(0.55);
}

.radio-field input[type="radio"]:disabled:checked:after, .radio-field-inline input[type="radio"]:disabled:checked:after {
    border-color: rgba(0, 0, 0, 0.26);
}

.radio-field input[type="radio"]:disabled:checked:before, .radio-field-inline input[type="radio"]:disabled:checked:before {
    background-color: rgba(0, 0, 0, 0.26);
}
