.login {
    /* background: red; */
    padding: 0 2.7em;
    text-align: center;
}

.login img {
    width: 86%;
    margin: 2.1em -3.7em 1px -4em;
    height: 14em;
}

.login-form {
    text-align: center;
}

.login-form .form-field, .control.from-field {
    text-align: center;
    position: relative;
}

.login-form input[type="text"], .control input[type="password"],input[type="password"] {
    display: inline-block;
    border-bottom: 2px solid #664A73 !important;
    height: 51px;
    background: transparent;
    padding-left: 2em;
    color: #fff;
    font-size: 18px;
    font-family: MyRiad;
    font-weight: 800;
    line-height: 3em;
}

input[type="text"], input[type="password"] {
    border: none;
    margin: 5px 0;
    /* background: #230C2B; */
    border-bottom: 2px solid #FFF !important;
    width: 100%;
    /* padding: 3em 3em; */
}

button.submit-primary {
    background: #441E59;
    width: 100%;
    color: #6A4A79;
    border: none;
    height: 3.6em;
    position: relative;
    top: 2em;
    border-radius: 13px;
    width: 100% !important;
}

a.forgot {
    color: #7F6D87;
    top: 3.78em;
    position: relative;
    text-decoration: none;
}
.foot-info {
    /* background: red; */
    /* top: 92vh; */
    position: relative;
    /* top: 100vh; */
    width: 100%;
    padding: .9em 1.67em;
    /* top: 4.2em; */
    /* top: 93%; */
    left: 0;
    bottom: -10em;
}

a.pull-left {
    float: left;
    display: inline-block;
}

a.pull-right {
    float: right;
    display: inline-block;
}

.foot-info a {
    color: #665369 !important;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: normal !important;
}

.user-email:before {
    content: "\e086";
    position: absolute;
    font-family: 'simple-line-icons';
    color: white;
    font-size: 20px;
    top: 18px;
    left: 9px;
}
.user-pass:before {
    content: "\e08c";
    position: absolute;
    font-family: 'simple-line-icons';
    color: white;
    font-size: 20px;
    top: 24px;
    left: 9px;
}
input[type="password"] {
    border-color: #5F436C !important;
}