



.register img {
    margin: 4px 5px;
    width: 100%;
    padding: 1em 1.4em;
    top: 5px;
    position: relative;
}
.regular-form {
    /* background: red; */
    /* width: 95%; */
    padding: 0 10%;
    top: 2em;
    position: relative;
}

.form-field.user-passwords input {
    width: 48%;
    display: inline-block;
    margin: 0 .6%;
}

.register input {
    margin-top: 4px;
    margin-bottom: -.2em;
}

.form-field.user-state input {
    display: inline-block;
    width: 10%;
    top: -.5em;
    position: relative;
}

.user-name:before {
    content: "\e086";
    position: absolute;
    font-family: 'simple-line-icons';
    color: white;
    font-size: 20px;
    top: 18px;
    left: 9px;
}

.form-field.user-passwords input:before {
    content: "\e086";
    position: absolute;
    font-family: 'simple-line-icons';
    color: white;
    font-size: 20px;
    top: 18px;
    left: 9px;
}

.form-field.user-cpf:before {
    content: "\e086";
    position: absolute;
    font-family: 'simple-line-icons';
    color: white;
    font-size: 20px;
    top: 18px;
    left: 9px;
}
.register h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: -1em 0;
    font-size: 2em;
    margin-top: -.5em;
    color: #FDD709;
}
.form-field.user-state-terms {
    top: 2.3em;
    width: 100%;
    text-align: center;
}

.register input[type="checkbox"] {
    line-height: 6em;
    padding-top: 0em;
}

.register label {
    /* background: red; */
    /* top: -1em; */
    /* position: relative; */
}
.checkbox-field label span {
    color: white;
    position: relative;
    top: -9px;
    left: 8px;
}

.register button.submit-primary.hn {
    /* background: red; */
    border-radius: 3px;
}
.register input[type="text"], .register input[type="password"] {
    padding-left: 2em;
    top: 1px;
    line-height: 3.1em;
}
.register .radio-field {
    display: inline-block;
    float: left;
    padding-left: 1em;
}

.register .user-state {
    /* background: red; */
    top: 1em;
    line-height: 2em;
    height: -1.5em;
    top: 1.3em;
    margin: 0em 0em 0em 0em;
    /* overflow: hidden; */
    dus: d;
    display: inline-flex;
}
.radio-field label span {
    /* background: rebeccapurple; */
    position: relative;
    top: -15px;
    left: 1.1em;
    color: #5A3E65;
    font-size: 1.2em;
    font-weight: bold;
}
span.caption {
    color: white;
    top: -1em;
    /* position: relative; */
    right: 15%;
    font-size: 19px;
    float: left;
    margin-left: .4em;
}

.radio-field {}

.radio-field.pull-right {
    float: right;
    padding-right: 1em;
    display: inline-flex;
    /* float: right !important; */
    /* position: relative; */
    /* top: -2.9em; */
}
.register .user-name:before {
    content: "\e002";
}

.register .user-name {}

.register .user-reemail:before {
    content: "\e086";
    position: absolute;
    font-family: 'simple-line-icons';
    color: white;
    font-size: 20px;
    top: 18px;
    left: 9px;
}

.register .user-cpf:before {
    position: absolute;
    font-family: 'simple-line-icons';
    color: white;
    font-size: 20px;
    top: 18px;
    left: 9px;
    content:  "\e025";
}
.form-field.user-passwords i {
    position: absolute;
    top: 2em;
    font-size: 20px;
    top: .8em;
    margin-left: 6px;
    color: white;
}
button img {
    width: 4.5em !important;
    display: inline-block;
    position: relative !important;
    top: -.3em !important;
}
.nickname:before {
    top: 19px !important;
}