.register .logo {
  margin: 0px;
}
.register h1 {
  color: #ffda01;
  font-family: 'Open Sans', sans-serif;
  font-weight:  bold;
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: center;
  text-shadow: -1px 0 #ffda01;
}

.register .input-profile {
  border: none;
  padding: 0 15px;
  width: 100%;
}

.title {
  font-size: 1.2em;
  position: relative;
  top: -2px;
  text-align: left;
  opacity: 0.5;
  font-weight: 100;
  float: left;
  margin: 0 30px 0 0;
}

.radio label {
    top: -7px;
    margin: 0 15px;
}

.register .form-login button {
  margin-top: 0;
}

.register .footer {
    position:absolute;
    bottom:5px;
    width:80%;
    margin-left: 10%;
}
