@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/css?family=Cabin:700);
@import url(login.css);
@import url(forgot.css);
@import url(hot-code.css);
@import url(get-hot-code.css);
@import url(register.css);

* {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a:hover, a:link, a.visited, a.active {
  color: none;
}

body {
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #431e56, #1b071f);
  background-attachment: fixed;
}

header {
  text-align: center;
  font-size: 18px;
  padding: 14px 0;
  background-color: #281136;
  min-height: 55px;
}

footer {
  padding: 15px 0;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #2b1133;
  max-height: 45px;
}

.color-orange {
  color: #ffad00;
  text-shadow: -1px 0 #ffad00;
}

.color-pink {
  color: #ff71b9;
  text-shadow: -1px 0 #ff71b9;
}

.color-yellow {
  color: #fffe01;
  text-shadow: -1px 0 #fffe01;
}

.color-red {
  color: #d63e29;
  text-shadow: -1px 0 #d63e29;
}

.color-font {
  color: #b4a7b8;
}

.logo {
  text-align: center;
  margin-bottom: 25px;
}

.logo .logo-large img {
  width: 85%;
  height: auto;
}

.logo  .logo-small img{
  width: 100%;
  height: auto;
}

.form-login {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 0px;
  margin-top: 0px;
}

.form-login input {
  background: transparent;
  border: none;
  padding: 20px 5px 20px 5px;
  color: #fff;
}

.form-login button {
  padding: 12px 0;
  width: 100%;
  background-color: #3c184c;
  border: none;
  margin-top: 10px;
  color: #fff;
  font-size: 1.5em;
}

.form-login .forgot {
  color: #928597;
}

.form-hotcode:focus, .form-control:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  border: none;
}

.footer {
    position:absolute;
    bottom:25px;
    width:80%;
    margin-left: 10%;
}

.footer p{
    color: #928597;
    font-size: 1em;
}

.footer .icon {
  position: relative;
  top: 3px;
  font-size: 20px;
  margin-right: 10px;
  color: #928597;
}

.icon {
  position: relative;
  top: 0px;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
}
