@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/css?family=Cabin:700);
@import url(login.css);

* {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a:hover, a:link, a.visited, a.active {
  color: none;
}

body {
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #431e56, #1b071f);
  background-attachment: fixed;
}

header {
  text-align: center;
  font-size: 18px;
  padding: 14px 0;
  background-color: #281136;
  min-height: 55px;
}

footer {
  padding: 15px 0;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #2b1133;
  max-height: 45px;
}
