<img src="assets/images/login.jpg" class="guide">
<ion-content class="padding" scroll="false">
	<div class="login">
		<img src="assets/images/logo-lg.png" />

		<div class="control forgot">
			<h4>Esqueceu sua senha?</h4>
			<p>Coloque seu email abaixo para resetar a sua senha.</p>
			<div class="form-field with-caption user-email"  >
				<input ng-model="forgot.email" type="email"  placeholder="Seu e-mail" class="formated-field">
			</div>
			<div class="alt">
				<button class="submit-primary lt">
<img src="assets/images/correct-symbol.svg">
				</button>

			</div>
			<div class="art">
				<button class="submit-primary lt">
				<img src="assets/images/remove-symbol.svg">
				</button>

			</div>
		</div>

	</div>
	<div class="foot-info">
		<a class="pull-left" href="#/login">
			<i class="icon-rocket icons"></i> Logar
		</a>
		<a class="pull-right">
			<i class="icon-support icons"></i> Ajuda
		</a>
	</div>
</ion-content>
