<ion-content scroll="false">
	<div class="hotcode">
	<div class="col-sm-12 logo">
			<div class="row">
		<div class="logo-small">
			<img src="assets/images/logo.png">
		</div></div></div>
	<div class="text getcode">
		<h1>como conseguir <br/>um código hot?</h1>
			<p><strong class="color-orange">1º OPÇÃO: </strong>
				Vá até um dos estabelecimentos credenciados e faça seu cadastro em nossos <strong class="color-orange">totens eletrônicos</strong>. É bem fácil!
				<br/>Conheça os estabelecimentos em <br/>
				<strong class="color-pink url">www.hotswingers.com.br</strong>
			</p>
			<p><strong class="color-orange">2º OPÇÃO: </strong>
				Faça amizade com casais que já usam o aplicativo. OS <strong class="color-yellow">casais ouro</strong> e os <strong class="color-red">casais hot</strong> podem apadrinhar novos cadastros, peça o código para eles.
			</p>	</div>

	<div class="col-sm-12 hotcode">
		<div class="row">
				<div class="form-login getcode-bottom">
							<div class="form-group">
									<button type="submit" class="btn btn-default getcode-button"><span class="icon-like icon"></span>Vou atrás do meu código HOT</button>
							</div>
					</div>
				</div>
		</div>
	<div class="col-sm-12 footer">
		<div class="row footer2">
			<div class="col-sm-6">
				<p class="pull-left color-roxo"><span class="icon-login icon"></span>Logar</p>
			</div>
			<div class="col-sm-6">
				<p class="pull-right color-roxo"><span class="icon-support icon"></span>Ajuda</p>
			</div>
		</div>
	</div>
</div>
</ion-content>
