<img src="assets/images/login.jpg" class="guide">
<ion-content class="padding" scroll="false">
	<div class="login">
		<img src="assets/images/logo-lg.png" />

		<div class="login-form">

			<div class="form-field user-email">
				<input ng-model="login.user" type="text"  placholder="Email" class="formated-field">
			</div>
			<div class="form-field with-caption user-pass"  >
				<input ng-model="login.pass" type="password"  placeholder="******" class="formated-field">
			</div>
			<button class="submit-primary"><img src="assets/images/correct-symbol.svg"></button>
			<a href="#/forgot" class="forgot">Esqueceu sua senha?</a>
		</div>

	</div>
	<div class="foot-info">
		<a class="pull-left">
			<i class="icon-note icons"></i> Cadastre-me
		</a>
		<a class="pull-right">
			<i class="icon-support icons"></i> Ajuda
		</a>
	</div>
</ion-content>