<img src="assets/images/login.jpg" class="guide">
<ion-content class="padding" scroll="false">
	<div class="register">
		<img src="assets/images/logo.png" />
<div class="register-form">
		<h1>cadastro</h1>
		<div class="login-form regular-form">

			<div class="form-field user-name">
				<input ng-model="profile.name" type="text"  placeholder="Seu Nome" class="formated-field">
			</div>
			<div class="form-field user-passwords">
				<i class="icon-key icons"></i>
				<input ng-model="profile.pass" type="text"  placeholder="Password" class="formated-field">
				<i class="icon-key icons"></i>
				<input ng-model="profile.rePass" type="text"  placeholder="Re-Password" class="formated-field">
			</div>
			<div class="form-field user-email">
				<input ng-model="profile.email" type="text"  placeholder="E-mail" class="formated-field">
			</div>
			<div class="form-field user-reemail">
				<input ng-model="profile.reemail" type="text"  placeholder="Repita e-mail" class="formated-field">
			</div>
			<div class="form-field user-cpf">
				<input ng-model="profile.cpf" type="text"  placeholder="CPF" class="formated-field">
			</div>
			<div class="form-field user-state">
				<span class="caption">Perfil:</span>
				<div class="radio-field">
				    <label>
				        <input type="radio" name="radio" value="option1" checked />
				        <span>Solteiro</span>
				    </label>
				</div>
				<div class="radio-field">
				    <label>
				        <input type="radio" name="radio" value="option1" />
				        <span>Casal</span>
				    </label>
				</div>
			</div>

			<button class="submit-primary hn">
				<img src="assets/images/correct-symbol.svg">
			</button>
			<div class="form-field user-state-terms">

			<div class="checkbox-field">
			    <label>
			        <input type="checkbox" checked/>
			        <span>Aceito os Termos e Condições</span>
			    </label>
			</div>

			</div>

		</div>

	</div>
	<div class="foot-info">
		<a class="pull-left">
			<i class="icon-action-undo icons"></i> Voltar
		</a>
		<a class="pull-right">
			<i class="icon-info icons"></i>  Termos e Condições
		</a>
	</div>
</ion-content>
