<img src="assets/images/login.jpg" class="guide">
<ion-content class="" scroll="true">
	<div class="side-menu">
		<div class="profile">
			<div class="figure">
				<img src="http://1.bp.blogspot.com/-0xEjdRlkAsE/UOrt2IoZVtI/AAAAAAAAALk/TBQTBaYGOW8/s1600/407892_513469232019610_81697252_n.jpg">
			</div>
			<div class="meta">
				<dov class="name">
					CASAL CORAÇÂOZINHO
				</dov>
				<span class="cod-hot">CÓD. HOT: <span class="hot">ATX1589DT</span> </span>
				<span class="expires">Expira em: <span class="hot">17/07/1977</span> </span>
				<span class="plus-info">+infos</span>
			</div>
		</div>
	</div>
	<div class="main-menu">
		<ul class="n">
			<li>
				<a href="#">
					<i class="icon-user-following icons icons-opacity"></i> Meu Perfil
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
			<li>
				<a href="#">
					<i class="icon-envelope icons icons-opacity"></i> Mensagens <sup>3</sup>
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
			<li>
				<a href="#">
					<i class="icon-magnifier icons icons-opacity"></i> Buscar Perfis
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
			<li>
				<a href="#">
					<i class="icon-diamond icons icons-opacity"></i> perfis Destaque
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
			<li>
				<a href="#">
					<i class="icon-music-tone-alt icons icons-opacity"></i> Festas pelo Brasil
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
			<li class="active">
				<a href="#">
					<i class="icon-fire icons icons-opacity"></i> Tyndeer do Swing
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
			<li>
				<a href="#">
					<i class="icon-bell icons icons-opacity"></i> Notificações<sup>3</sup>
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
									<li>
				<a href="#">
					<i class="icon-fire icons icons-opacity"></i> Configuração / Suporte
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
									<li>
				<a href="#">
					<i class="icon-logout icons icons-opacity"></i> Sair do APP
				</a>
				<i class="icon-arrow-right icons"></i>
			</li>
		</ul>
	</div>
</ion-content>
