<img src="" class="guide">
<ion-content class="padding get-hot-code" scroll="true">
	<img src="assets/images/logo.png" class="logo-internal" />
	<div class="login pane--form-hotcode terms">

		<div class="control">
			<h2>termos e condições</h2>
<p><span class="rule">01.</span> Não use informações e fotos falsas. Caso um perfil receba denuncia que contém informações falsas serão averiguados pela nossa equipe e se for constado a verdade, o perfil sera excluido sem perguntas.</p>

<p><span class="rule">02.</span> Caso um casal não dê maiores informações ou não esteja com vontade de interagir com seu perfil, ignore. Caso <span class="gold-couple">5 perfis</span> pedirem para bloquear seu seu perfil, seu perfil será excluido sem perguntas para sempre.</p>

<p><span class="rule">03.</span> A entrada no sistema é permitida somente para pessoas acima de 18 anos.</p>

<p><span class="rule">04.</span> Nossa proposta é promover o Swing e o Mènage entre casais, homens solteiros e mulheres solteiras.</p>

<p><span class="rule">05.</span> Casais, no meio swinger, são homens e mulheres casados, noivos ou namorados.</p>

<p><span class="rule">06.</span> É proibida a entrada de casais montados (fake), ou seja, homem e mulher que sejam amigos ou que um dos parceiros seja acompanhante contratado.</p>

<p><span class="rule">07.</span> O valor da assinatura do aplicativo é <span class="gold-couple">R$ 29,90 mensais</span> para todos que se enquadram nas regras. O pagamento pode ser feito através de cartão de crédito ou boleto.</p>

	<div class="foot-info">
		<a class="pull-left">
			<i class="icon-note icons"></i> Cadastre-me
		</a>
		<a class="pull-right">
			<i class="icon-support icons"></i> Ajuda
		</a>
	</div>
		</div>

	</div>

</ion-content>